.App {
  text-align: center;
  padding: 2rem;
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
}

textarea {
  background-color: #2e2e2e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-family: monospace;
  width: 80%;
  resize: vertical;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0b5ed7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

pre {
  background-color: #121212;
  color: #00ff88;
  padding: 1rem;
  border-radius: 5px;
  text-align: left;
  width: 80%;
  margin: auto;
}
